# ESP-IDF specific
managed_components/
build/
sdkconfig.old
dependencies.lock

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp 

# Notebooks - exclude heavy folders
Notebooks/datasets/
Notebooks/Foto/
Notebooks/venv/
Notebooks/*.ipynb_checkpoints/
Notebooks/__pycache__/
Notebooks/*.pyc
.venv/